/* Code BY Webdevtrick ( https://webdevtrick.com ) */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    content: ''
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
}
header {
    top: 0;
    position: absolute;
    width: 100%;`
height: 64px;
}
header .title-content {
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: center;
}
header .title-content button {
    position: absolute;
    top: 12px;
    height: 40px;
    text-align: center;
    width: 140px;
}
header .title-content button#last {
    left: 12px;
}
header .title-content button#next {
    right: 12px;
}
header .title-content span {
    float: left;
    margin: 8px 0 16px 0px;
    width: 100%;
    height: 40px;
}
header .title-content span h1,
header .title-content span h2 {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center;
    width: 100%;
}
header .title-content span h1 {
    font-size: 24px;
    line-height: 32px;
}
header .title-content span h2 {
    font-size: 14px;
}
.ci-cal-container {
    top: 64px;
    position: absolute;
    border: 1px solid #CCC;
    width: 100%;
    height: calc(100% - 64px);}
.ci-cal-container .ci-head {
    top: 0;
    background: #2bb673;
    position: absolute;
    width: 100%;
    height: 40px;
}
.ci-cal-container .ci-head div {
    line-height: 40px;
    float: left;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.15);
    text-transform: uppercase;
    height: 100%;
    width: 14.28%;
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
}
.ci-cal-container .ci-head div:last-child {
    border-right: 0px;}
.ci-cal-container .ci-body {
    top: 40px;
    position: absolute;
    width: 100%;
    height: calc(100% - 40px);
}
.ci-cal-container .ci-body .ci-row {
    clear: both;
    float: left;
    position: relative;
    border-bottom: 1px solid #CCC;
    width: 100%;
    height: 16.6%}
.ci-cal-container .ci-calendar.cal-rows-four .ci-body .ci-row {
    width: 100%;
    height: 25%}
.ci-cal-container .ci-calendar.cal-rows-five .ci-body .ci-row {
    width: 100%;
    height: 20%}
.ci-cal-container .ci-calendar.cal-rows-six .ci-body .ci-row {
    width: 100%;
    height: 16.666%}
.ci-cal-container .ci-body .ci-row:last-child {
    border-bottom: 0;}


.ci-cal-container .ci-body .ci-row .ci-event-row {
    position: absolute;
    left: 0px;
    padding: 3px;
    height: 50%;
    width: 100%;
    z-index: 10;}

.ci-cal-container .ci-body .ci-row .ci-event-row:nth-child(1) {
    top: 0px;}

.ci-cal-container .ci-body .ci-row .ci-event-row:nth-child(2) {
    margin-top: -1px;
    top: 50%;}

.ci-cal-container .ci-body .ci-row>div {
    box-shadow: inset 0px 0px 0px 1px white;
    border-right: 1px solid #CCC;
    overflow: hidden;
    float: left;
    height: 100%;
    width: 14.28%;
    width: -moz-calc(100%/7);
    width: -webkit-calc(100%/7);
    width: calc(100%/7);
    position: relative;
}
.ci-cal-container .ci-body .ci-row>div.empty {
    background: #f5f5f5;
}
.ci-cal-container .ci-body .ci-row>div.empty:before {
    background:url(https://webdevtrick.com/wp-content/uploads/black-twill.png);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.125;
}
.ci-cal-container .ci-body .ci-row>div.ci-today {
    background: #f5f5f5;
}
.ci-cal-container .ci-body .ci-row>div:last-child {
    border-right: 0;
}
.ci-cal-container .ci-body .ci-row>div .ci-date {
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 12px;
}




.ci-event {
    border-radius: 3px;
    border: 1px solid transparent;
    /* box-shadow: inset 0px 0px 0px 1px white; */
    position: absolute;
    padding: 2px 12px;
    height: calc(100% - 5px);
    z-index: 20;}

.end-cap,
.start-cap {

    top: 0.5px;
    z-index: 1;
    position: absolute;

}

.end-cap-border,
.start-cap-border {

    top: -1.75px;
    z-index: 0;
    position: absolute;

}

.end-cap,
.end-cap-border,
.start-cap,
.start-cap-border {

    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent;

}

.ci-event.public .end-cap,
.ci-event.public .start-cap {

    border-color: transparent #e6f1cd;

}

.ci-event.public .end-cap-border,
.ci-event.public .start-cap-border {

    border-color: transparent #D1DBBB;

}

.ci-event.private .end-cap,
.ci-event.private .start-cap {

    border-color: transparent #cceff2;

}

.ci-event.private .end-cap-border,
.ci-event.private .start-cap-border {

    border-color: transparent #9FBABD;

}

.ci-event.public {

    background: #e6f1cd;
    border-color: #D1DBBB;

}

.ci-event.private {

    background: #cceff2;
    border-color: #9FBABD;

}

.ci-event label {

    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;

}

@media(max-width:360px) {

    body {

        overflow-x: hidden !important;
        overflow-y: auto !important;

    }

    .ci-cal-container .ci-body {

        float: left;
        height: auto;
        position: relative;

    }

    .ci-cal-container .ci-body .ci-row {

        border: 0px;
        height: auto !important;

    }

    .ci-cal-container .ci-body .ci-row .ci-event-row {

        top: 0px;
        clear: both;
        float: left;
        height: auto;
        padding: 0px !important;
        margin-top: 0px !important;
        position: relative;

    }

    .ci-cal-container .ci-body .ci-row > div {

        display: none;

    }

    .ci-event {

        float: left;
        position: relative;
        min-height: 100px;
        left: 0px !important;
        margin: 5px !important;
        width: calc(100% - 10px) !important;

    }

    .end-cap,
    .end-cap-border,
    .start-cap,
    .start-cap-border {

        display: none;

    }

}